<head>
  <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'welcome_index' %>
</head>
<div class="small-cards">
  <a class="small-turkey" href="thanksgiving/new">
    <div>
      <div class="small-butt">
      <div class="small-legs">
        <div class="small-left_leg">
          <div class="small-left_foot">
            <div class="small-toe"></div>
            <div class="small-toe"></div>
            <div class="small-toe"></div>
          </div>
        </div>
        <div class="small-right_leg">
          <div class="small-right_foot">
            <div class="small-toe"></div>
            <div class="small-toe"></div>
            <div class="small-toe"></div>
          </div>
        </div>
      </div>
      </div>
      <div class="small-tail">
        <div class="small-feather"></div>
        <div class="small-feather"></div>
        <div class="small-feather"></div>
        <div class="small-feather"></div>
        <div class="small-feather"></div>
        <div class="small-feather"></div>
        <div class="small-feather"></div>
        <div class="small-feather"></div>
        <div class="small-feather"></div>
      </div>
      <div class="small-wings"></div>
      <div class="small-head">
        <div class="small-eyes">
          <div class="small-left_eye">
            <div class="small-left_iris"></div>
            <div class="small-closed"></div>
          </div>
          <div class="small-right_eye">
            <div class="small-right_iris"></div>
            <div class="small-closed"></div>
          </div>
        </div>
        <div class="small-beak">
          <div class="small-beak_tip"></div>
        </div>
        <div class="small-red_things">
        </div>
      </div>
    </div>
  </a>
  <a class="small-christmas" href="christmas/new">
    <div>
      <div class="small-tree">
        <div class="small-top">
          <div class="small-tree-top-left"></div>
          <div class="small-tree-top-right"></div>
        </div>
        <div class="small-top-middle">
          <div class="small-tree-top-middle-left"></div>
          <div class="small-tree-top-middle-right"></div>
        </div>
        <div class="small-bottom-middle">
          <div class="small-tree-bottom-middle-left"></div>
          <div class="small-tree-bottom-middle-right"></div>
        </div>
        <div class="small-bottom">
          <div class="small-tree-bottom-left"></div>
          <div class="small-tree-bottom-right"></div>
        </div>
        <div class="small-stump"></div>
      </div>
    </div>
  </a>
</div>