<head>
  <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<div class="sky">
  <!-- star 1 - 1/2-->
  <div class="twinkler pulse4"></div>
  <div class="twinkler pulse4"></div>
  <!-- star 2 - 3/4-->
  <div class="twinkler pulse4"></div>
  <div class="twinkler pulse4"></div>
  <!-- star 3 - 5/6 -->
  <div class="twinkler pulse5"></div>
  <div class="twinkler pulse5"></div>
  <!-- star 4 - 7/8 -->
  <div class="twinkler pulse6"></div>
  <div class="twinkler pulse6"></div>
  <!-- star 5 - 9/10 -->
  <div class="twinkler pulse4"></div>
  <div class="twinkler pulse4"></div>
  <!-- star 6 - 11/12 -->
  <div class="twinkler pulse7"></div>
  <div class="twinkler pulse7"></div>
  <!-- star 7 - 13/14 -->
  <div class="twinkler pulse5"></div>
  <div class="twinkler pulse5"></div>
  <!-- star 8 - 15/16 -->
  <div class="twinkler pulse6"></div>
  <div class="twinkler pulse6"></div>
  <!-- star 9 - 17/18 -->
  <div class="twinkler pulse6"></div>
  <div class="twinkler pulse6"></div>
  <!-- star 10 - 19/20 -->
  <div class="twinkler pulse7"></div>
  <div class="twinkler pulse7"></div>
  <!-- star 11 - 21/22 -->
  <div class="twinkler pulse5"></div>
  <div class="twinkler pulse5"></div>
  <!-- star 12 - 23/24 -->
  <div class="twinkler pulse4"></div>
  <div class="twinkler pulse4"></div>
  <!-- star 13 - 25/26 -->
  <div class="twinkler pulse6"></div>
  <div class="twinkler pulse6"></div>
  <!-- star 14 - 27/28 -->
  <div class="twinkler pulse6"></div>
  <div class="twinkler pulse6"></div>
  <!-- star 15 - 29/30 -->
  <div class="twinkler pulse6"></div>
  <div class="twinkler pulse6"></div>
  <div class="moon"></div>
</div>
<div class="snowy backdrop">
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="snowy foreground">
  <div class="big-hill"></div>
  <div class="left-hill"></div>
  <div class="right-hill">
    <div></div>
    <div ></div>
    <div></div>
  </div>
</div>
<div class="message">
  <% if @card.errors.any? %>
    <% @card.errors.full_messages.each do |error| %>
      <p class="error"> <%= error %> </p>
    <% end %>
  <% end %>
  <%= render partial: @partial, card: @card%>
</div>
<div class="tree-options">
  <div class="triangle-tree">

    <div class="red-ornaments">
      <div class="ornament red">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
      <div class="ornament red">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
      <div class="ornament red">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
      <div class="ornament red">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
    </div>

    <div class="gold-ornaments">
      <div class="ornament gold">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
      <div class="ornament gold">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
      <div class="ornament gold">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
    </div>

    <div class="blue-ornaments">
      <div class="ornament blue">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
      <div class="ornament blue">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
      <div class="ornament blue">
        <div class="hook"></div>
        <div class="twinkle"></div>
      </div>
    </div>
    <div class="lights">
      <div class="line">
        <div class="coloring"></div>
        <div class="width"></div>
      </div>
    </div>

    <div class="tree-top"></div>
    <div class="top-decoration">
      <div class="star"></div>
      <div class="holder"></div>
    </div>
    <div class="tree-top-inner-layer"></div>
    <div class="tree-top-outer-layer"></div>

    <div class="tree-top-middle"></div>
    <div class="tree-top-middle-inner-layer"></div>
    <div class="tree-top-middle-outer-layer"></div>

    <div class="tree-bottom-middle"></div>
    <div class="tree-bottom-middle-inner-layer"></div>
    <div class="tree-bottom-middle-outer-layer"></div>

    <div class="tree-bottom"></div>
    <div class="tree-bottom-inner-layer"></div>
    <div class="tree-bottom-outer-layer"></div>

    <div class="tree-stump"></div>
  </div>

  <div class="tree hide">
    <div class="top">
      <div class="tree-top-left"></div>
      <div class="tree-top-right"></div>
    </div>
    <div class="top-middle">
      <div class="tree-top-middle-left"></div>
      <div class="tree-top-middle-right"></div>
    </div>
    <div class="bottom-middle">
      <div class="tree-bottom-middle-left"></div>
      <div class="tree-bottom-middle-right"></div>
    </div>
    <div class="bottom">
      <div class="tree-bottom-left"></div>
      <div class="tree-bottom-right"></div>
    </div>
    <div class="stump"></div>
  </div>

  <div class="striped-present">
    <div class="present-front shadow">
      <div class="stripe"></div>
      <div class="bow"></div>
    </div>
  </div>
</div>
