@import 'mixins';
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
         -box-sizing: border-box;
}
.button{
  border-width: 0;
  color: white;
  /*font-family: 'Helvetica Neue Bold';*/
  letter-spacing: 1.5px;
  margin: 0 5% 1% 5%;
  padding: 4px;
  border-radius: 0;
  background-color: #0f3254;
}
.pulse4{
  opacity: 0.0;
  -webkit-animation: pulsate 4s ease-out;
  -webkit-animation-iteration-count: infinite;
}
.pulse5{
  opacity: 0.0;
  -webkit-animation: pulsate 5s ease-out;
  -webkit-animation-iteration-count: infinite;
}
.pulse6{
  opacity: 0.0;
  -webkit-animation: pulsate 6s ease-out;
  -webkit-animation-iteration-count: infinite;
}
.pulse7{
  opacity: 0.0;
  -webkit-animation: pulsate 7s ease-out;
  -webkit-animation-iteration-count: infinite;
}
.sky {
  width: 100%;
  height: 100%;
  min-height: 40em;
  background-color: #0f3254;
}
.sky div{
  &:nth-child(1){
    position: absolute;
    top:20px;
    left:20px;
  }
  &:nth-child(2){
    position: absolute;
    top:25px;
    left:25px;
    @include rotate(90);
  }
  &:nth-child(3){
    position: absolute;
    top:110px;
    left:70px;
  }
  &:nth-child(4){
    position: absolute;
    top:115px;
    left:75px;
    @include rotate(90);
  }
  &:nth-child(5){
    position: absolute;
    top:30px;
    left:320px;
  }
  &:nth-child(6){
    position: absolute;
    top:35px;
    left:325px;
    @include rotate(90);
  }
  &:nth-child(7){
    position: absolute;
    top:10px;
    left:620px;
  }
  &:nth-child(8){
    position: absolute;
    top:15px;
    left:625px;
    @include rotate(90);
  }
  &:nth-child(9){
    position: absolute;
    top:220px;
    left:30px;
  }
  &:nth-child(10){
    position: absolute;
    top:225px;
    left:35px;
    @include rotate(90);
  }
  &:nth-child(11){
    position: absolute;
    top:30px;
    left:120px;
  }
  &:nth-child(12){
    position: absolute;
    top:35px;
    left:125px;
    @include rotate(90);
  }
  &:nth-child(13){
    position: absolute;
    top:120px;
    left:350px;
  }
  &:nth-child(14){
    position: absolute;
    top:125px;
    left:355px;
    @include rotate(90);
  }
  &:nth-child(15){
    position: absolute;
    top:120px;
    right:30px;
  }
  &:nth-child(16){
    position: absolute;
    top:125px;
    right:25px;
    @include rotate(90);
  }
  &:nth-child(17){
    position: absolute;
    top:60px;
    right:250px;
  }
  &:nth-child(18){
    position: absolute;
    top:65px;
    right:245px;
    @include rotate(90);
  }
  &:nth-child(19){
    position: absolute;
    top:210px;
    right: 10%;
  }
  &:nth-child(20){
    position: absolute;
    top:215px;
    right:calc(10% - 5px);
    @include rotate(90);
  }
  &:nth-child(21){
    position: absolute;
    top:50px;
    left:540px;
  }
  &:nth-child(22){
    position: absolute;
    top:55px;
    left:545px;
    @include rotate(90);
  }
  &:nth-child(23){
    position: absolute;
    top:40px;
    left:440px;
  }
  &:nth-child(24){
    position: absolute;
    top:45px;
    left:445px;
    @include rotate(90);
  }
  &:nth-child(25){
    position: absolute;
    top:220px;
    left:410px;
  }
  &:nth-child(26){
    position: absolute;
    top:225px;
    left:415px;
    @include rotate(90);
  }
  &:nth-child(27){
    position: absolute;
    top:40px;
    left:65%;
  }
  &:nth-child(28){
    position: absolute;
    top:45px;
    left: calc(65% + 5px);
    @include rotate(90);
  }
  &:nth-child(29){
    position: absolute;
    top:55%;
    right:12%;
  }
  &:nth-child(30){
    position: absolute;
    top:calc(55% + 5px);
    right: calc(12% - 5px);
    @include rotate(90);
  }
}
.twinkler {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-bottom: 7px solid white;
  position: relative;
  top: -5px;
}
.twinkler:after {
  content: '';
  position: absolute;
  left: -3px; top: 7px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top: 7px solid white;
}
/* __________ MOON ________*/
.moon{
  position: absolute;
  right: 10%;
  top: 6%;
  height: 60px;
  width: 60px;
  content: "";
  border-radius: 60px;
  background-color: yellow;
  @include rotate(10);
  &:after{
    position: absolute;
    content: "";
    top: -30px;
    right: -30px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: #0f3254;
  }
}
/* __________ SNOWY BACKGROUND ________*/

.snowy{
  position: absolute;
  top: 35em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
}

.backdrop{
  position: absolute;
  top: 35em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #a7beda;
  & div{
    &:nth-child(1){
      position: absolute;
      background-color: #a7beda;
      height: 120px;
      width: 160px;
      /*border-top-left-radius: 50px;*/
      border-top-right-radius: 105px;
      border-top-left-radius: 85px;
      top:-40px;
      right: 50px;
    }
    &:nth-child(2){
      position: absolute;
      background-color: #a7beda;
      height: 220px;
      width: 20%;
      /*border-top-left-radius: 50px;*/
      border-top-right-radius: 205px;
      border-top-left-radius: 200px;
      top:-80px;
      right: 150px;
    }
    &:nth-child(3){
      position: absolute;
      background-color: #a7beda;
      height: 320px;
      width: 60%;
      /*border-top-left-radius: 50px;*/
      border-top-right-radius: 305px;
      border-top-left-radius: 300px;
      top:-150px;
      left: -90px;
    }
  }
}

.foreground{
  background-color: #f5f5f5;
  & .big-hill{
    position: absolute;
    left: 30%;
    top: -70px;
    height: 300px;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    background-color: #f5f5f5;
    border-top-left-radius: 450px;
    border-top-right-radius: 250px;
  }
  & .left-hill{
    position: absolute;
    left: -30px;
    top: -60px;
    height: 200px;
    width: 300px;
    background-color: #f5f5f5;
    border-top-left-radius: 150px;
    border-top-right-radius: 300px;
  }
  & .right-hill{
    position: absolute;
    background-color: #f5f5f5;
    height: 120px;
    width: 160px;
    border-top-right-radius: 105px;
    border-top-left-radius: 85px;
    top:-50px;
    right: -20px;
  }
}

.shadow {
   @include box-shadow-inset( 0, 0, 2px, 0, #b50303);
}

/* MESSAGE AREA  */

.message {
  position: absolute;
  padding: 20px 0 20px 0;
  width: 35%;
  min-width: 280px;
  left: 30em;
  top: 8em;
  background-color: #d2dae5;
  & .error{
    border-bottom: 1px solid #CCC;
    border-bottom-color: #BBB;
    border-top: #B00100 solid 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: white;
    padding: 5px 0 5px 0;
    margin: 0 5% 0% 5%;
    text-align: center;
  }
  & #card_subject{
    border: transparent;
    border-width: 0;
    padding: 0;
    margin: 0 5% 1% 5%;
  }
  & #card_message{
    border: transparent;
    border-width: 0;
    padding: 0;
    margin: 0 5% 1% 5%;
    min-width: 90%;
    max-width: 90%;
    font-family: 'Handlee', cursive;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 16px;
  }
  & #card_to_email{
    border: transparent;
    border-width: 0;
    margin: 0 5% 1% 5%;
    padding: 0;
    padding: 5px;
  }
  & #card_url{
    border: transparent;
    margin: 0 5% 1% 5%;
    border-width: 0;
    padding: 5px;
  }
}

/*________________ SWEDISH PRESENT ________________*/

.striped-present{
  position: absolute;
  border-radius: 1px;
  top: 30em;
  left: 4em;
  z-index: 12;
}
.stripe{
  position: absolute;
  background-color: white;
}
.bow {
   z-index: -1;
   top: -14px;
   left: 30px;
   height: 28px;
   width: 28px;
   background: gold;
   position: absolute;

  &:before {
    height: 28px;
    width: 28px;
    background: gold;
    content:"";
    position: absolute;
    /* Rotate */
    @include rotate(30);
  }

  &:after {
     height: 28px;
     width: 28px;
     background: gold;
     content:"";
     position: absolute;
     /* Rotate */
     @include rotate(-30);
  }
}
.present-front{
  position: absolute;
  border-radius: 1px 1px 1px 1px;
  left: 0;
  top: 0;
  height: 80px;
  width: 120px;
  background-color: #8e0000;
  & .stripe{
     left: 52px;
     top: 2px;
     width: 18px;
     height: 76px;

  }
  & .stripe:after{
    content: '';
    position: absolute;
    border-radius: 0px 0 0px 2px;
    left: -50px;
    top: 32px;
    width: 116px;
    height: 16px;
    background: white;
  }

}

.present-top{
  position: absolute;
  /*border-radius: 1px;*/
  top: -11px;
  left: -2px;
  width: 61px;
  height: 12px;
  -webkit-transform: skew(30deg);
     -moz-transform: skew(30deg);
      -ms-transform: skew(30deg);
       -o-transform: skew(30deg);
          transform: skew(30deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
  background: #8e0000;
  & .stripe{
     position: absolute;
    border-radius: 1px;
    z-index: 1;
    left: 27px;
    top: 0px;
    width: 9px;
    height: 11px;
     background: white;
  }
}

.present-side{
  position: absolute;
  border-radius: 3px 0 3px 1px;
  top: -5px;
  left: -8px;
  width: 8px;
  height: 39px;
  z-index: -1;
  background: #8e0000;
  -webkit-transform: skewY(60deg);
     -moz-transform: skewY(60deg);
      -ms-transform: skewY(60deg);
       -o-transform: skewY(60deg);
          transform: skewY(60deg);
  & .stripe{
    position: absolute;
    /*border-radius: 3px 0 5px 1px;*/
    top: 15px;
    left: 0px;
    width: 10px;
    height: 8px;
    background: white;
  }
}


/* ______________ CUBED PRESENT ______________*/
/*.spotted-present{
  position: relative;
  top: 20em;
  left: 4em;

}
.present-front{
  position: absolute;
  left: 0;
  top: 0;
  height: 70px;
  width: 70px;
  background-color: #8e0000;
}/

.present-top{
  position: absolute;
  left: 11px;
  top: 40px;
  height: 50px;
  width: 48px;
  background-color: #8e0000;
  @include rotate(30);
}
.present-bottom{
  position: absolute;
  left: 11px;
  top: 0;
  height: 50px;
  width: 48px;
  background-color: #8e0000;
  @include rotate(30);
}*/
/*.present-front .line:nth-child(1){
   position: absolute;
   left: 20px;
   top: 0px;
   width: 20px;
   height: 59px;
   background: white;

}

.present-front .line:nth-child(2){
   position: absolute;
   z-index: 1;
   left: 15px;
   top: -30px;
   width: 20px;
   height: 30px;
   background: white;
  -webkit-transform: skew(30deg);
     -moz-transform: skew(30deg);
       -o-transform: skew(30deg);
}
.present-front .line:nth-child(3){
   position: absolute;
   z-index: 1;
   left: 0px;
   top: -20px;
   width: 60px;
   height: 20px;
   background: white;
}

*/

.tree-options {
  position: absolute;
  top:80px;
  width: 320px;
  height: 320px;
}
/*______________ ORNAMENTS ______________*/
.ornament{
  position: absolute;
  z-index: 10;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
}
.hook{
  position: absolute;
  height:6px;
  width: 2px;
  left: 8px;
  top:-4px;
  background-color: black;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  &:after{
    position: absolute;
    content:'';
    left: 0px;
    top: -3px;
    height: 6px;
    width: 6px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
        -ms-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
  @include rotate(45);
  }
}
.twinkle {
   display:block;
   position: absolute;
   left: 11px;
   top: 4px;
   width: 5px;
   height: 4px;
   background-color: white;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}
.red{
  background-color: red;
  @include box-shadow-inset( 0, 0, 5px, 0, #6e0000);
 & .twinkle {
    @include box-shadow-inset( 0, 0, 1px, 0, red);
  }
}
.red-ornaments{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  & .red:nth-child(1) {
    top: 15em;
    left: 19em;
  }
  & .red:nth-child(2) {
    top: 17em;
    left: 10em;
  }
  & .red:nth-child(3) {
    top: 11em;
    left: 13em;
  }
  & .red:nth-child(4) {
    top: 25em;
    left: 22em;
  }
}
.gold{
  background-color: gold;
  @include box-shadow-inset( 0, 0, 5px, 0, #705a29);
  & .twinkle {
    @include box-shadow-inset( 0, 0, 1px, 0, gold);
  }
}
.gold-ornaments{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  & .gold:nth-child(1) {
    top: 15em;
    left: 15em;
  }
  & .gold:nth-child(2) {
    position: absolute;
    z-index: 10;
    top: 3em;
    left: 16em;
  }
  & .gold:nth-child(3) {
    position: absolute;
    z-index: 10;
    top: 23em;
    left: 16em;
  }
}
.blue{
  background-color: blue;
  @include box-shadow-inset( 0, 0, 5px, 0, #021183);
  & .twinkle {
    @include box-shadow-inset( 0, 0, 1px, 0, blue);
  }
}
.blue-ornaments{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  & .blue:nth-child(1) {
    top: 20em;
    left: 15em;
  }
  & .blue:nth-child(2) {
    top: 25em;
    left: 10em;
  }
  & .blue:nth-child(3) {
    top: 10em;
    left: 18em;
  }
}

/*______________ LIGHTS ______________*/

.line {

  & .coloring {
    border-color: transparent transparent transparent red;
    height: 20px;
    width: 20px;
  }
  & .width {
    height: 20px;
    width: 20px;
    border-width: 0 0 0 2px;
  }
}

.bulbs{
  position: absolute;
  top: 10px;
  left: 10px;
  & .bulb1{
    display:block;
    width: 4px;
    height: 12px;
    background-color: red;
    -webkit-border-radius: 65px 65px 63px 63px / 72px 72px 88px 88px ;
    border-radius:         50%  50%  50%  50%  / 40%  40% 50% 50%;
  }
}

/*______________ TRIANGLED TREE ______________*/

.triangle-tree {
  position: relative;
}
.top-decoration {
  z-index: 6;
  position: absolute;
  left: 227px;
  top: -31px;
  height: 3em;
  width: 2em;
}
.star {
   margin: 5px 0;
   z-index: 5;
   position: absolute;
   color: #febe00;
   top:0;
   width: 0px;
   height: 0px;
   border-right:  30px solid transparent;
   border-bottom: 21px  solid #febe00;
   border-left:   30px solid transparent;
   -moz-transform:    rotate(35deg);
   @include rotate(35);

  &:before {
    content: '';
    border-bottom: 24px solid #febe00;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -15px;
    left: -19px;
    display: block;
    @include rotate(-35);
    transform:      rotate(-35deg);
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    color: red;
    top: 0.6px;
    left: -30px;
    width: 0px;
    height: 0px;
    border-right: 30px solid transparent;
    border-bottom: 21px solid #febe00;
    border-left: 30px solid transparent;
    @include rotate(-70);
  }
}

.holder {
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 0;
    width: 0;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    border-bottom: 30px solid #d39f00;
    &:after{
      content: '';
      position: absolute;
      left: -15px;
      top: 12px;
      height: 0;
      width: 0;
      border-right: 24px solid transparent;
      border-left: 7px solid transparent;
      border-bottom: 14px solid #e8b005;
      @include rotate(-115);
    }
  }
.tree-top {
  position: absolute;
  z-index: 2;
  left: 11em;
  top: 0;
  width: 0em;
  height: 0em;
  border-left: 5em solid transparent;
  border-right: 5em solid transparent;
  border-bottom: 7em solid #275614;
  /*opacity: 0.8;*/
}/*
.tree-top-inner-layer {
  position: absolute;
  z-index: 4;
  left: 5.8em;
  top: 0.6em;
  width: 0em;
  height: 0em;
  border-left: 5.2em solid transparent;
  border-right: 5.2em solid transparent;
  border-bottom: 10em solid #21681c;
  opacity: 0.9;
}
.tree-top-outer-layer {
  position: absolute;
  z-index: 6;
  left: 6.6em;
  top: 1.2em;
  width: 0em;
  height: 0em;
  border-left: 4.4em solid transparent;
  border-right: 4.4em solid transparent;
  border-bottom: 9em solid green;
}*/
.tree-top-middle {
  z-index: 3;
  position: absolute;
  left: 9em;
  top: 1em;
  width: 0em;
  height: 0em;
  border-left: 7em solid transparent;
  border-right: 7em solid transparent;
  border-bottom: 13em solid #275614;
}/*
.tree-top-middle-inner-layer {
  position: absolute;
  z-index: 4;
  left: 4.45em;
  top: 4.6em;
  width: 0em;
  height: 0em;
  border-left: 7.1em solid transparent;
  border-right: 7.1em solid transparent;
  border-bottom: 13em solid #21681c;
}
.tree-top-middle-outer-layer {
  z-index: 6;
  position: absolute;
  left: 4.8em;
  top: 5.2em;
  width: 0em;
  height: 0em;
  border-left: 6.3em solid transparent;
  border-right: 6.3em solid transparent;
  border-bottom: 12em solid green;
}*/
.tree-bottom-middle {
  position: absolute;
  z-index: 3;
  /*opacity: .8;*/
  left: 7em;
  top: 2em;
  width: 0em;
  height: 0em;
  border-left: 9em solid transparent;
  border-right: 9em solid transparent;
  border-bottom: 19em solid #275614;
}
/*.tree-bottom-middle-inner-layer {
  position: absolute;
  z-index: 4;
  left: 3.4em;
  top: 8.6em;
  width: 0em;
  height: 0em;
  border-left: 9.2em solid transparent;
  border-right: 9.2em solid transparent;
  border-bottom: 17em solid #21681c;
}
.tree-bottom-middle-outer-layer {
  position: absolute;
  z-index: 6;
  left: 3.90em;
  top: 9.2em;
  width: 0em;
  height: 0em;
  border-left: 8.2em solid transparent;
  border-right: 8.2em solid transparent;
  border-bottom: 16em solid green;
}*/
.tree-bottom {
  position: absolute;
  z-index: 3;
  /*opacity: .8;*/
  left: 5em;
  top: 4em;
  width: 0em;
  height: 0em;
  border-left: 11em solid transparent;
  border-right: 11em solid transparent;
  border-bottom: 25em solid #275614;
}/*
.tree-bottom-inner-layer {
  position: absolute;
  z-index: 4;
  left: 2.25em;
  top: 6.45em;
  width: 0em;
  height: 0em;
  border-left: 5.75em solid transparent;
  border-right: 5.75em solid transparent;
  border-bottom: 10.7em solid #21681c;
}
.tree-bottom-outer-layer {
  position: absolute;
  z-index: 6;
  left: 2.5em;
  top: 7em;
  width: 0em;
  height: 0em;
  border-left: 5.5em solid transparent;
  border-right: 5.5em solid transparent;
  border-bottom: 10em solid green;
}*/
.tree-stump{
  position: absolute;
  z-index: 1;
  top: 29em;
  left: 14.5em;
  width: 3em;
  height:5em;
  background-color: brown;
}
/*______________ CURVY TREE OPTION ______________*/
.tree {
  top: 0;
  left: 1em;
  width: 40em;
}
.top {
  position: absolute;
  top: inherit;
  height: 14em;
  width: inherit;
  z-index: 4;
  background-color: green;
}
.top-middle {
  position: absolute;
  height: 16em;
  width: inherit;
  background-color: green;
  z-index: 3;
  top: 4em;
}
.bottom-middle {
  position: absolute;
  height: 18em;
  width: inherit;
  background-color: green;
  z-index: 2;
  top: 9em;
}
.bottom {
  position: absolute;
  height: 22em;
  width: inherit;
  background-color: green;
  z-index: 1;
  top: 12em;
}
.stump{
  position: absolute;
  z-index: 2;
  top: 34em;
  left: 18em;
  height: 5em;
  width: 3em;
  background-color: brown;
}
.tree-top-left {
  position: absolute;
  left:0;
  top:0;
  width: 0px;
  height: 0px;
  border-right: 20em solid white;
  border-left: 0em solid white;
  border-top: 0em solid white;
  border-bottom: 16em solid white;
  border-bottom-right-radius: 12em;
}
.tree-top-right {
  position: absolute;
  right:0;
  top:0;
  width: 0px;
  height: 0px;
  border-right: 0em solid white;
  border-left: 20em solid white;
  border-top: 0em solid white;
  border-bottom: 16em solid white;
  border-bottom-left-radius: 12em;
}
.tree-top-middle-left {
  position: absolute;
  left:0;
  top:0em;
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 18em solid white;
  border-left: 0em solid white;
  border-top: 0em solid white;
  border-bottom: 20em solid white;
  border-bottom-right-radius: 15em;
}
.tree-top-middle-right {
  position: absolute;
  right:0;
  top:0em;
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 0em solid white;
  border-left: 18em solid white;
  border-top: 0em solid white;
  border-bottom: 20em solid white;
  border-bottom-left-radius: 15em;
}
.tree-bottom-middle-left {
  position: absolute;
  left:0;
  top:0;
  width: 0px;
  height: 0px;
  border-right: 16em solid white;
  border-left: 0em solid white;
  border-top: 0em solid white;
  border-bottom: 22em solid white;
  border-bottom-right-radius: 20em;
}
.tree-bottom-middle-right {
  position: absolute;
  right:0;
  top:0;
  width: 0px;
  height: 0px;
  border-right: 0em solid white;
  border-left: 16em solid white;
  border-top: 0em solid white;
  border-bottom: 22em solid white;
  border-bottom-left-radius: 20em;
}
.tree-bottom-left {
  position: absolute;
  left:0;
  top:0;
  width: 0px;
  height: 0px;
  border-right: 14em solid white;
  border-left: 0em solid white;
  border-top: 0em solid white;
  border-bottom: 24em solid white;
  border-bottom-right-radius: 14em;
}
.tree-bottom-right {
  position: absolute;
  right:0;
  top:0;
  width: 0px;
  height: 0px;
  border-right: 0em solid white;
  border-left: 14em solid white;
  border-top: 0em solid white;
  border-bottom: 24em solid white;
  border-bottom-left-radius: 14em;
}
/*
.tree {
  top: 0;
  left: 1em;
  width: 40em;
}
.top {
  position: absolute;
  top: inherit;
  height: 14em;
  width: inherit;
  z-index: 4;
  background-color: green;
}
.top-middle {
  position: absolute;
  height: 16em;
  width: inherit;
  background-color: green;
  z-index: 3;
  top: 4em;
}
.bottom-middle {
  position: absolute;
  height: 18em;
  width: inherit;
  background-color: green;
  z-index: 2;
  top: 9em;
}
.bottom {
  position: absolute;
  height: 22em;
  width: inherit;
  background-color: green;
  z-index: 1;
  top: 12em;
}
.base{
  position: absolute;
  top: 34em;
  left: 18em;
  height: 5em;
  width: 3em;
  background-color: brown;
}
.tree-top-left {
  background-image: url("/assets/green_gobbler.png");
  position: absolute;
  left:0;
  top:0;
  width: 20em;
  height: 16em;
  border-bottom-right-radius: 12em;
}
.tree-top-right {
  background-image: url("/assets/green_gobbler.png");
  position: absolute;
  right:0;
  top:0;
  width: 20em;
  height: 16em;
  border-bottom-left-radius: 12em;
}
.tree-top-middle-left {
  background-image: url("/assets/green_gobbler.png");
  position: absolute;
  left:0;
  top:0em;
  position: absolute;
  width: 18em;
  height: 20em;
  border-bottom-right-radius: 15em;
}
.tree-top-middle-right {
  background-image: url("/assets/green_gobbler.png");
  position: absolute;
  right:0;
  top:0em;
  position: absolute;
  width: 18em;
  height: 20em;
  border-bottom-left-radius: 15em;
}
.tree-bottom-middle-left {
  background-image: url("/assets/green_gobbler.png");
  position: absolute;
  left:0;
  top:0;
  width: 16em;
  height: 22em;
  border-bottom-right-radius: 20em;
}
.tree-bottom-middle-right {
  position: absolute;
  right:0;
  top:0;
  width: 16em;
  height: 22em;
  border-bottom-left-radius: 20em;
  background-image: url("/assets/green_gobbler.png");
}
.tree-bottom-left {
  position: absolute;
  left:0;
  top:0;
  width: 14em;
  height: 24em;
  border-bottom-right-radius: 14em;
  background-image: url("/assets/green_gobbler.png");
}
.tree-bottom-right {
  background-image: url("/assets/green_gobbler.png");
  position: absolute;
  right:0;
  top:0;
  width: 15em;
  height: 24em;
  border-bottom-left-radius: 14em;
}*/

/* ______________ FLOOR ______________*/
/*.floor {
  position: absolute;
  top: 18em;
  left: 0em;
  right: 0em;
  width: auto;
  height: 100%;
  background-color: #ce6300;
}
.base-board {
  position: absolute;
  left: 3em;
  right: 3em;
  top:0;
  height:1em;
  width: auto;
  background-color: brown;
}
.left-base-board{
position: absolute;
left: -2em;
top: -0.5em;
height: 1em;
width: 5em;
background-color: brown;
border-top: 0.5em solid brown;
-webkit-transform: skewy(120deg);
   -moz-transform: skewy(120deg);
    -ms-transform: skewy(120deg);
     -o-transform: skewy(120deg);
        transform: skewy(120deg);
-webkit-transform-origin: 100% 100%;
   -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
     -o-transform-origin: 100% 100%;
        transform-origin :100% 100%;
}
.right-base-board{
position: absolute;
right: 0em;
top: -0.5em;
height: 1em;
width: 3em;
background-color: brown;
border-top: 0.5em solid brown;
-webkit-transform: skewY(-120deg);
   -moz-transform: skewY(-120deg);
    -ms-transform: skewY(-120deg);
     -o-transform: skewY(-120deg);
        transform: skewY(-120deg);
-webkit-transform-origin: 0% 100%;
   -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
     -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
}*/


/*__________________ BOARDS __________________*/
/*
.board {
  position: absolute;
  top:1em;
  bottom: 0em;
  width: 1px;
  height:auto;
  background-color: black;
}
.board:nth-child(1){
  left: 5em;
  @include rotate(30);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(2){
  left: 7em;
  @include rotate(27);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(3){
  left: 9em;
  @include rotate(24);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(4){
  left: 11em;
  @include rotate(21);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(5){
  left: 13em;
  @include rotate(18);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(6){
  left: 15em;
  @include rotate(15);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(7){
  left: 17em;
  @include rotate(12);
  -webkit-transform-origin: 100% 0%;
   -moz-t11ansform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(8){
  left: 19em;
  @include rotate(9);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(9){
  left: 21em;
  @include rotate(6);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(10){
  left: 23em;
  @include rotate(3);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}

.board:nth-child(11){
  left: 25em;
  @include rotate(1);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
@media (min-width: 740px) {
  .board:nth-child(12){
    right: 20em;
    @include rotate(-3);
    -webkit-transform-origin: 100% 0%;
     -moz-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
       -o-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  }
}
.board:nth-child(13){
  right: 18em;
  @include rotate(-6);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}

.board:nth-child(14){
  right: 16em;
  @include rotate(-9);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(15){
  right: 14em;
  @include rotate(-12);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(16){
  right: 12em;
  @include rotate(-15);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(17){
  right: 10em;
  @include rotate(-18);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(18){
  height: 20em;
  right: 8em;
  @include rotate(-21);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(19){
  height: 14em;
  right: 6em;
  @include rotate(-24);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}
.board:nth-child(20){
  height: 8.5em;
  right: 4em;
  @include rotate(-27);
  -webkit-transform-origin: 100% 0%;
   -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
}


/*________________ ADDITIONAL BOARDS ________________*/
/*
every 30 add a new board
MAKE THESE DISAPEAR BETWEEN*/
/*@media screen and (min-width:780px) {
  .board:nth-child(21){
    left: 27em;
    @include rotate(0);
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
         -o-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@media screen and (min-width:810px) {
  .board:nth-child(22){
    left: 29em;
    @include rotate(-1);
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
         -o-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@media screen and (min-width:840px) {
  .board:nth-child(23){
    left: 31em;
    @include rotate(-1);
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
         -o-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@media screen and (min-width:880px) {
  .board:nth-child(24){
    left: 33em;
    @include rotate(-1);
    -webkit-transform-origin: 100% 0%;
     -moz-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
       -o-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  }
}*/
/*______________ THE WALL ______________*/
/*
.wall{
  position: absolute;
  background-color: #ffe3ce;
  top: 0;
  left: 0;
  width: 100%;
  height:18em;
}
.left-corner {
  position: absolute;
  left: 2.7em;
  bottom: 0em;
  width: .1em;
  background-color: black;
  height: 130%;
}
.right-corner {
  position: absolute;
  right: 2.7em;
  bottom: 0em;
  width: .1em;
  background-color: black;
  height: 130%;
}
.right-wall{
  right: 0em;
}
.left-wall{

}*/
@-webkit-keyframes pulsate {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}